*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1000px) {
  main {
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  margin: 0;
  position: relative;
}

.location-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  background: #EAEAEA;
  padding: 1rem;
}
.location-dot i {
  font-size: 1.5rem;
}
.location-dot h2 {
  font-size: 1rem;
}

.introduction {
  text-align: center;
  background-color: #F6F6F6;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.introduction h2 {
  font-size: 2rem;
}
.introduction p {
  margin-top: 1rem;
  font-size: 1rem;
  color: #353535;
}
.introduction button {
  color: white;
  font-weight: 200;
  font-size: 1.3rem;
  padding: 1rem 1rem;
  padding-bottom: 1rem -2rem;
  border: none;
  margin-top: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background-image: linear-gradient(rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.introduction button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.loader {
  position: fixed;
  background-color: #e6e6fa;
  display: grid;
  place-items: center;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: desepear 200ms 3s forwards;
  transform-origin: top;
}
.loader i {
  color: #9356dc;
}

@keyframes desepear {
  to {
    transform: scale(0);
  }
}
.item {
  padding: 4rem 1rem;
}
.item .container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}
.item h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.item ol {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: steps;
  gap: 2rem;
  align-items: center;
}
@media (min-width: 64rem) {
  .item ol {
    display: flex;
  }
}
.item li {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  position: relative;
  display: flex;
  list-style-type: none;
  flex-grow: 1;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.item li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 6%;
  left: -1rem;
  transform: translateY(-50%);
}
.item li:hover {
  transform: scale(1.02);
  background-color: #e6e6fa;
}
.item li:hover i.fas {
  margin-right: 1rem;
  color: #9356dc;
  font-size: 1.5rem;
}
.item li:hover i.fa-list-ul {
  margin-right: 1rem;
  color: #9356dc;
  font-size: 1.5rem;
}
.item li:hover i.fa-store {
  margin-right: 1rem;
  color: #9356dc;
  font-size: 1.5rem;
}
.item li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}
.item li i.fa-list-ul {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}
.item li i.fa-store {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

#homepage .menus {
  padding: 2rem;
  background-color: #f6f6f6;
}
#homepage .menus .container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}
#homepage .menus h2 {
  padding: 2rem 0;
  margin: 0;
}
#homepage .menus .menus_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-bottom: 3rem;
}
@media (max-width: 800px) {
  #homepage .menus .menus_cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
#homepage .menus .menus_cards .new {
  position: relative;
}
#homepage .menus .menus_cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2DD;
  color: #99E2DD, 50%;
  display: grid;
  place-items: center;
  top: 1rem;
  right: 1rem;
}
#homepage .menus .card_image {
  height: 15rem;
  background-position: center;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
}
#homepage .menus .card.card1 .card_image {
  background-image: url("./../Images/menu_1.jpg");
}
#homepage .menus .card.card2 .card_image {
  background-image: url("./../Images/menu_2.jpg");
}
#homepage .menus .card.card3 .card_image {
  background-image: url("./../Images/menu_3.jpg");
}
#homepage .menus .card.card4 .card_image {
  background-image: url("./../Images/menu_4.jpg");
}
#homepage .menus .card_description {
  position: relative;
  border-radius: 0 0 1rem 1rem;
  background-color: white;
  position: relative;
  font-family: "Shrikhand", "sans-serif";
  font-family: roboto;
}
#homepage .menus .card_description::before {
  position: absolute;
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font awesome 5 Free";
  font-weight: 400;
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms;
}
#homepage .menus .card_description::after {
  position: absolute;
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font awesome 5 Free";
  font-weight: 400;
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms;
  background-image: linear-gradient(rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  opacity: 0;
  font-weight: 900;
  color: transparent;
}
#homepage .menus .card_description:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
#homepage .menus .card_description h3,
#homepage .menus .card_description p {
  padding: 0.3rem;
}
#homepage .menus .card_description:hover.fas {
  opacity: 1;
}

footer {
  position: relative;
  background-color: #353535;
  padding-bottom: 1rem;
}
@media (min-width: 1024px) {
  footer {
    padding: 1.89rem;
  }
}
@media (min-width: 1024px) {
  footer .footer__list {
    display: flex;
    justify-content: flex-end;
  }
  footer .footer__list h2 {
    position: absolute;
    right: 4rem;
  }
  footer .footer__list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 261px;
    height: 20px;
    gap: 7px;
    opacity: 0px;
    max-width: 400px;
  }
}
footer .footer__list a {
  color: #ffffff;
  text-decoration: none;
}
footer .footer__list li {
  justify-content: space-between;
  list-style: none;
  padding: 0.5rem 0rem;
  margin: 0;
  text-decoration: none;
}
footer .footer__list h2 {
  color: #ffffff;
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}
footer .footer__list i {
  width: 11px;
  margin-right: 1rem;
}

@keyframes slidein {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#page-resto {
  content: "\f060";
}
#page-resto .container {
  max-width: 1055px;
  margin: auto;
}
#page-resto header:before {
  position: absolute;
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font awesome 5 Free";
  font-weight: 400;
  content: "\f060";
  font-weight: 900;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
#page-resto .banner img {
  display: block;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center bottom;
}
#page-resto .resto_main {
  padding: 0 2rem;
  background: #F6F6F6;
}
#page-resto .resto_title {
  background: #F6F6F6;
  padding: 36px 21px;
  margin-top: -2rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  z-index: 1;
}
#page-resto .resto_title h2 {
  font-family: "shrikhand" "cursive";
  position: relative;
  font-family: "Shrikhand", "sans-serif";
  border-radius: 2rem 2rem 0 0;
}
#page-resto .resto_title h2::before {
  position: absolute;
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font awesome 5 Free";
  font-weight: 400;
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms;
}
#page-resto .resto_title h2::after {
  position: absolute;
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font awesome 5 Free";
  font-weight: 400;
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms;
  background-image: linear-gradient(rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  opacity: 0;
  font-weight: 900;
  color: transparent;
}
#page-resto .resto_title h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
#page-resto .card_menus {
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  #page-resto .card_menus {
    grid-template-columns: 1fr;
    flex-direction: column;
  }
}
#page-resto .card_menus h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 1rem;
}
#page-resto .card_menus h3::after {
  content: "";
  height: 0.25rem;
  width: 3rem;
  top: 1.5rem;
  left: 0;
  position: absolute;
  background-color: #99E2DD;
}
#page-resto .card_menus .menu_categorie {
  overflow: hidden;
}
#page-resto .card_menus .menu_categorie .menu_item {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0.5rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  animation: appear 1s;
  animation-fill-mode: both;
}
#page-resto .card_menus .menu_categorie .menu_item:nth-child(1) {
  animation-delay: 100ms;
}
#page-resto .card_menus .menu_categorie .menu_item:nth-child(2) {
  animation-delay: 200ms;
}
#page-resto .card_menus .menu_categorie .menu_item:nth-child(3) {
  animation-delay: 300ms;
}
#page-resto .card_menus .menu_categorie .menu_item .prix {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .card_menus .menu_categorie .menu_item .menu-item_description {
  padding: 1rem;
  overflow: hidden;
}
#page-resto .card_menus .menu_categorie .menu_item .menu-item_description h4,
#page-resto .card_menus .menu_categorie .menu_item .menu-item_description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-resto .card_menus .menu_categorie .menu_item .menu-item_check {
  display: grid;
  place-items: center;
  background-color: #99E2DD;
  border-radius: 0 1rem 1rem 0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-resto .card_menus .menu_categorie .menu_item .menu-item_check i {
  display: grid;
  place-items: center;
  background: white;
  width: 20px;
  height: 20px;
  top: 24.97px;
  left: 594.58px;
  border-radius: 1rem;
  color: #99E2DD;
}
#page-resto .card_menus .menu_categorie .menu_item:hover {
  cursor: pointer;
}
#page-resto .card_menus .menu_categorie .menu_item:hover .menu-item_check {
  margin-right: 0;
}
#page-resto .card_menus .menu_categorie .menu_item:hover i {
  animation-name: slidein;
  animation: slidein 0.5s ease-in-out;
}
#page-resto .btn_command {
  height: 20vh;
  display: grid;
  place-items: center;
  cursor: pointer;
}
#page-resto .btn_command button {
  color: white;
  font-weight: 200;
  font-size: 1.3rem;
  padding: 1rem 1rem;
  padding-bottom: 1rem -2rem;
  border: none;
  margin-top: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background-image: linear-gradient(rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
#page-resto .btn_command button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
